@import 'variables';

.container {
	padding: 5%;
}
.grid {
	>div {
		padding: 10px 20px;
		box-sizing: border-box;
		float: right;
		border: solid 1px $colorOfBorder;
		text-align: center;
    background-color: $colorOfBackground;
	}
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}